<p id="notice"><%= notice %></p>

<p>
  <strong>Client name:</strong>
  <%= @checklist.Client_Name %>
</p>

<p>
  <strong>Grounds:</strong>
  <%= @checklist.Grounds %>
</p>

<p>
  <strong>Petitioner preg aff:</strong>
  <%= @checklist.Petitioner_Preg_Aff %>
</p>

<p>
  <strong>Pregnancy affidavit respondent:</strong>
  <%= @checklist.Pregnancy_Affidavit_Respondent %>
</p>

<p>
  <strong>Waiver petitioner s:</strong>
  <%= @checklist.Waiver_Petitioner_s %>
</p>

<p>
  <strong>Waiver respondent s:</strong>
  <%= @checklist.Waiver_Respondent_s %>
</p>

<p>
  <strong>Msa:</strong>
  <%= @checklist.MSA %>
</p>

<p>
  <strong>Residency proof:</strong>
  <%= @checklist.Residency_Proof %>
</p>

<p>
  <strong>Social security petitioner:</strong>
  <%= @checklist.Social_Security_Petitioner %>
</p>

<p>
  <strong>Social security respondent:</strong>
  <%= @checklist.Social_Security_Respondent %>
</p>

<p>
  <strong>A:</strong>
  <%= @checklist.A %>
</p>

<p>
  <strong>Discovery waiver signed by both:</strong>
  <%= @checklist.Discovery_Waiver_Signed_by_Both %>
</p>

<p>
  <strong>Discovery waiver signed by petitioner:</strong>
  <%= @checklist.Discovery_Waiver_Signed_by_Petitioner %>
</p>

<p>
  <strong>Discovery waiver signed by respondent:</strong>
  <%= @checklist.Discovery_Waiver_Signed_by_Respondent %>
</p>

<p>
  <strong>Financial affidavit petitioner:</strong>
  <%= @checklist.Financial_Affidavit_Petitioner %>
</p>

<p>
  <strong>Financial affidavit respondent:</strong>
  <%= @checklist.Financial_Affidavit_Respondent %>
</p>

<p>
  <strong>Child custody affidavit:</strong>
  <%= @checklist.Child_Custody_Affidavit %>
</p>

<p>
  <strong>Parenting course husband:</strong>
  <%= @checklist.Parenting_Course_Husband %>
</p>

<p>
  <strong>Parenting course wife:</strong>
  <%= @checklist.Parenting_Course_Wife %>
</p>

<p>
  <strong>Parenting plan:</strong>
  <%= @checklist.Parenting_Plan %>
</p>

<p>
  <strong>Gudelines:</strong>
  <%= @checklist.Gudelines %>
</p>

<p>
  <strong>Addendum:</strong>
  <%= @checklist.Addendum %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @checklist.Notes %>
</p>

<p>
  <strong>Client email address:</strong>
  <%= @checklist.Client_Email_Address %>
</p>

<p>
  <strong>Send link email:</strong>
  <%= @checklist.Send_Link_Email %>
</p>

<%= link_to 'Edit', edit_checklist_path(@checklist) %> |
<%= link_to 'Back', checklists_path %>
